* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #222222;
    padding: 19px 0;
}
.header_psv {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header-logo{
    margin-right: 41px;
}

/*not означает применение стиля кроме в данном случае последнего элемента*/
.header_item:not(:last-child) {
    margin-right: 33px;
}

.content{
    height: 764px;
    background: #F1E4E6;
}

.Img_l{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    background: url(./img/Layer_57-removebg-preview\ 1.png) no-repeat -228px;
    /*background-repeat: no-repeat;*/
}

.title{
    max-width: 405px;
    padding-left: 20px;
    border-left: 12px solid #F16D7F;
}

.text_decor{
    color: #F16D7F;
}

.category{
    margin: 100px 0;
}

.category_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_item:not(:last-child){
    width: 360px;
    height: 260px;
    /*background: grey;*/
}

.content_item{
    position: relative;
    width: 100%;
    margin: 30px 0 0 0;
    height: 180px;
/*    background: grey;*/
}

.internal_text{
    text-align: center;
    color: white;
    position: absolute;
    width: 150px;
}

.head-text{
    margin-top: 96px;
}
.subtext{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.Fetured{
    font-family: loto;
}
.text-shop{
    margin-top: 9px;
    font-family: loto;
    color: #9F9F9F;
}

.main-contents{
    margin-top: 48px;
}

.blocks{
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 30px;
}

.block-item{
    width: 360px;
    height: 581px;
    background: #F8F8F8;;
}

.align-button{
    width: 211px;
    height: 47px;
    border: 2px solid red;
}
.text_browse{
    text-align: center;
    padding: 14.5px 0;
    color: red;
}

.SubName{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;

}

.SubDescription{
    padding-top: 12px;
    width: 314px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;

}

.cost{
    padding-top: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
}

.wrap{
    padding-top: 23px;
    padding-left: 18px;
    padding-bottom: 20px;
}